/*selector{property:value}
h1{
    color:( blueviolet);
    background-color: teal;
}*/

/*h3{
    color: rgb(114, 70, 6);
}*/

/*rgb
h2{
   color: rgb(255,233,145);
   background-color: rgba(123,0,133,0.5);
}*/

/*HEX Codes
h3{
    color:#ff0000;
    background-color: #00ffff;
}*/

/*rgba
h4{
    color: rgb(253, 253, 252);
    background-color: rgba(23, 20, 246, 0.5);
}*/
/*Units*/

/*div {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}
section{
    width: 100%;
    height: 100%;
    background-color: skyblue;
}*/
