/*selector{property:value}
h1{
    color:( blueviolet);
    background-color: teal;
}*/

/*h3{
    color: rgb(114, 70, 6);
}*/

/*rgb
h2{
   color: rgb(255,233,145);
   background-color: rgba(123,0,133,0.5);
}*/

/*HEX Codes
h3{
    color:#ff0000;
    background-color: #00ffff;
}*/

/*rgba
h4{
    color: rgb(253, 253, 252);
    background-color: rgba(23, 20, 246, 0.5);
}*/
/*Units*/

/*div {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
}
section{
    width: 100%;
    height: 100%;
    background-color: skyblue;
}*/
/*em
html{
    font-size: 2 em;
}

p{
    font-size: 4em;
}*/

/*div{
    background-color: tomato;
    width: 100vw;
    height: 20vh;
}*/
/*Typography*/
/*
{h1{
    font-family: serif;
    font-size: 50px;
    text-transform: lowercase;
    text-align: center;
    text-decoration:overline;
    
    
}
h2{
    font-family: sans-serif;
    font-weight: normal;
    
}
p{
    line-height: 45px;
    letter-spacing:3px ;
    word-spacing: 5px;
     /*text-decoration:underline;*/
/*pointr,all-scroll,copy*/
/*cursor: all-scroll;
     font-weight: 700;=
     */

/*a{
    text-decoration: none;
    color: palevioletred;
}*/
/*bOX MODEL*/
/*{
    margin: 0;
}*/
/*div{*/
/*border: width 2px;
    border-style:solid;
    border-color:green;*/

/*border: 20px dotted rgb(153, 26, 227);*/
/*border-top: 10px dotted olivedrab;
    border-bottom:10px dotted rgb(203, 153, 15);
    border-left: 10px dotted rgb(204, 7, 187);
    border-right: 10px dotted rgb(41, 13, 219);*/

/*border: 2px solid peru;*/
/*padding: 20px;
    
    padding-left: 10px ;
    padding: bottom 20px; 
    padding-right:40px;
    text-align: right;
   
    padding:10px 20px; */
/*margin-left:20px ;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    */
/*margin:  0 20px ;
}*/
*{
  margin:0;
}
div {
  height: 100vh;
  background-color: gold;
  background-image: url(https://images.unsplash.com/photo-1764588029885-d115de3bda1e?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-repeat: repeat-y;  

}

